body{
    font-family: 'Montserrat', sans-serif;
}
/* Inicio: estilos del header */

header{
    background: #000;
    color: #fff;
    display: flow-root;
    padding-top: 10px;
    padding-bottom: 15px;  
}
header div{
    width: 250px;
    float: left;
}
header nav{
    width: 500px;
    float: right;
}
header nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

/* Fin: estilos del header */


/* Estilos generales */
