body{
    background : #000; /* Cambia el color del fondo */
    color: #fff; /* Cambia el color de la tipografía */
    font-size: 16px; /* Cambia el tamaño de la tipografía */
    font-family: verdana; /*Cambia el tipo de letra */
}
h1{
    color: #9b59b6;
    font-size: 20px;
}
span{
    color: #f1c40f;
}
