body{
    font-family: 'Montserrat', sans-serif;
}
/* Inicio: estilos del header */

header{
    background: #000;
    color: #fff;
    display: flow-root;
    padding-top: 10px;
    padding-bottom: 15px;  
}
header div{
    width: 250px;
    float: left;
}
header nav{
    width: 500px;
    float: right;
}
header nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

/* Fin: estilos del header */


/* Inicio: estilos del main */

#bannerPrincipal{
    min-height: 300px;
    background-image: url("../img/espacio.jpg");
    position: relative;
}
#bannerPrincipal h1{
    color: rgba(255,255,255, 0.5);
    font-size: 36px;
    /* Inicio centrar elemento absoluto */
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    /* Fin centrar elemento absoluto */
}
/* Inicio: estilos formulario de contacto */
#contacto{
    padding: 15px;
}
#contacto form{
    width: 30%;
    float: left;
}
#contacto form h2{
    font-size: 28px;
    margin: 0 auto; 
    width: 180px;
    margin-bottom: 20px;
}
#contacto form p{
    margin-bottom: 20px;
    line-height: 25px;
    text-align: justify;
}
#contacto form div{
    margin-bottom: 20px;
}
#contacto form div label{
    width: 100px;
    display: inline-block;
    font-weight: bold;
}
#contacto form div input{
    height: 30px;
    width: 200px;
    outline-color: #6F1E51;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
#contacto form div input::-webkit-input-placeholder{
    color: rgba(111, 30, 81,0.7);
}
#contacto form button {
    width: 150px;
    height: 30px;
    color: #fff;
    background: #6F1E51;
    font-size: 16px;
    border: 0px;
    display: block;
    margin: 0 auto;
    outline: none;
}
#contacto form button:hover{
    background: #833471;
    cursor: pointer;
}
#contacto .mapa{
    width: 65%;
    float: right;
}

/* Estilos generales */

table {
    border-collapse: collapse;
}

th{
    background-color: #f2f2f2;
    font-weight: bold;
}

table, th, td {
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    padding: 40px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}